$primary-color: #5b5b5b;
$secondary-color: #d9d9d9;
$title-color: rgb(92, 93, 98);
$google-background: #ececed;
$evernote-background: #00a82d;
$figma-background: #212121;
$event-background: rgb(222, 96, 67);

body {
  font-family: "Arial", sans-serif;
  color: $primary-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  height: 100%;
}

.box1 {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.box2 {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.location-text {
  color: #5f5f61;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.05px;
}

#search-icon {
  display: flex;
  color: #0a090b;
  font-size: 20px;
}

#x-icon {
  display: flex;
  color: #b8caf2;
  font-size: 16px;
}

#filter-icon {
  font-size: 20px;
}

#arrow-icon {
  cursor: pointer;
  display: flex;
  color: #0a090b;
  font-size: 20px;
}

.filter-button {
  display: flex;
  height: 40px;
  padding: 0px 14px 0px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #ececed;
  background: #fff;
  box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.filter-button:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.15);
}

.filter-button-text {
  color: #0a090b;
  font-size: 14px;
  font-style: normal;
  font-weight: 475;
  line-height: 20px;
  letter-spacing: -0.05px;
}

.search-button {
  display: flex;
  height: 40px;
  padding: 0px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: #1751d0;
  box-shadow: 0px 0px 0px 1px #063aab, 0px 4px 5px -3px rgba(0, 0, 0, 0.32);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.search-button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.25);
}

.search-button-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 475;
  line-height: 20px;
  letter-spacing: -0.05px;
}

.design-button {
  display: flex;
  height: 24px;
  padding: 3px 4px 3px 8px;
  align-items: center;
  gap: 2px;
  border-radius: 50px;
  background: #f5f8fd;
  cursor: pointer;
}

.deisgn-text {
  color: #1751d0;
  font-size: 14px;
  font-style: normal;
  font-weight: 475;
  line-height: 20px;
  letter-spacing: -0.05px;
}

.line {
  width: 2px;
  height: 32px;
  background: #e6e6e6;
}

.main-header {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  flex-shrink: 0;
  background: linear-gradient(rgba(222, 231, 240, 0) -45.5%, #f9fafb 98.6%);
}

.second-header {
  align-self: stretch;
  height: 128px;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.long-container {
  align-self: stretch;
  height: 64px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 4px -1px rgba(10, 9, 11, 0.02),
    0px 5px 13px -5px rgba(10, 9, 11, 0.05);
  border-radius: 8px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  display: inline-flex;
}

.top-container {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.top-inner-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
}

.top-second-inner-container {
  height: 172px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
  padding: 0 0 0 120px;
}

.top-second-first-text {
  color: #0a090b;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  word-wrap: break-word;
}

.top-second-second-text {
  color: #4f4d55;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.first-container-text {
  width: 700px;
  color: #0a090b;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
}

.second-container-text {
  color: #4f4d55;
  width: 550px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.18px;
}

.main-container {
  display: flex;
  width: auto;
  padding: 40px 80px;
  align-items: flex-start;
  gap: 32px;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.header-left-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.header-left-text {
  color: #0a090b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.18px;
}

.header-right-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-right-text {
  color: #0a090b;
  font-size: 14px;
  font-style: normal;
  font-weight: 475;
  line-height: 20px;
  letter-spacing: -0.05px;
}

.left-content-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.left-content-list-container {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  background: #fff;
  box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07);
}

.left-content-list-container-logo {
  display: flex;
  padding-top: 3px;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

.left-content-list-container-logo-background {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background: #161614;
}

.github-logo {
  width: 24.01px;
  height: 23.42px;
  left: 5.87px;
  top: 6.26px;
  position: relative;
}

.logo-container {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.left-content-list-container-logo-background-google {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background: $google-background;
}

.left-content-list-container-logo-background-evernote {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background: $evernote-background;
}

.left-content-list-container-logo-background-figma {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background: $figma-background;
}

.left-content-list-container-logo-background-event {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background: $event-background;
}

.logo-event {
  width: 36px;
  height: 36px;
  position: relative;
}

.evernote-logo {
  width: 21.13px;
  height: 24.723px;
  left: 6.87px;
  top: 6.26px;
  position: relative;
}

.right-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.first-streched-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.second-streched-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.right-content-textcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.right-content-textcontainer-text {
  color: #0a090b;
  font-size: 16px;
  font-style: normal;
  font-weight: 475;
  line-height: 22px;
  letter-spacing: -0.18px;
  cursor: pointer;
}

.right-content-second-textcontainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.right-content-second-textcontainer-top {
  color: #0a090b;
  font-size: 12px;
  font-style: normal;
  font-weight: 475;
  line-height: 18px;
  cursor: pointer;
}

.right-content-second-textcontainer-bottom-1 {
  color: #4f4d55;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.right-content-second-textcontainer-bottom-2 {
  color: #1751d0;
  font-size: 12px;
  font-style: normal;
  font-weight: 475;
  line-height: 18px;
  cursor: pointer;
}

.book-icon-container {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  background: #f1f1f1;
}

#bookmark-icon {
  font-size: 20px;
  color: #7f7d83;
  cursor: pointer;
}

.country-container {
  display: flex;
  height: 24px;
  padding: 3px 6px 3px 4px;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  background: #ececed;
  cursor: pointer;
}

.hours-text {
  color: #7f7d83;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.country-logo {
  width: 16px;
  height: 16px;
}

.top-right-container-content {
  display: flex;
  width: 341px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  background: #f5f8fd;
  box-shadow: 0px 2px 4px -1px rgba(10, 9, 11, 0.02),
    0px 5px 13px -5px rgba(10, 9, 11, 0.05);
}

.bottom-right-container-content {
  display: flex;
  width: 341px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.bottom-right-container-content-header-text {
  color: #0a090b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.18px;
}

.bottom-right-container-content-first {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.bottom-right-container-content-second {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.bottom-right-container-content-third {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.careers-container {
  display: flex;
  padding: 7px;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}

.careers-container-text {
  color: #0a090b;
  font-size: 12px;
  font-style: normal;
  font-weight: 475;
  line-height: 18px;
}

.careers-container-number-container {
  display: flex;
  height: 18px;
  padding: 4px 7px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #ececed;
}

.careers-container-number {
  color: #2d2b32;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
}

.mail-icon-container {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #f5f8fd;
}

#mail-icon {
  font-size: 24px;
  color: #1751d0;
}

.subscribe-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.subscribe-text-container-first {
  color: #051029;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.18px;
}

.subscribe-text-container-second {
  color: #0c296a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.05px;
}

input {
  display: flex;
  height: 40px;
  width: 301px;
  padding: 0px 8px 0px 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  border: none;
  box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07);
}

.subscribe-button {
  display: flex;
  height: 39px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  background: #1751d0;
  box-shadow: 0px 0px 0px 1px #063aab, 0px 4px 5px -3px rgba(0, 0, 0, 0.32);
  cursor: pointer;
  transition: all 0.2s ease;
}

.subscribe-button:active {
  transform: scale(0.95);
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.32);
}

.subscribe-button-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 475;
  line-height: 20px;
  letter-spacing: -0.05px;
}
